* {
    font-family: Hack, Arial, sans-serif;
    font-size: 16px;
}

#root-box {
    background: rgba(0,0,0,0.8);
}

#app-list, .background, .overlay-indicator {
    background: transparent;
}

.app-row:hover:selected, .app-row:hover, .app-row:selected {
    background: rgba(16,32,64,0.8);
}
